
/* BACKGROUND EFFECTS */
body , html {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: "Pt Sans Narrow", sans-serif;
    background-image: url("./Images/17545.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:100%;
}

.container {  display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "top_left top_right"
      "bottom_left bottom_right";
      height:100%;
      width:100%;
  }
  
  .top_left { grid-area: top_left;}
  
  .top_right { grid-area: top_right; }
  
  .bottom_left { grid-area: bottom_left; }
  
  .bottom_right { grid-area: bottom_right; }

  /* FOR SIGN UP/SIGN IN FORM */
:root {
    --clr: #006194;
    }

body {
        min-height: 100vh;
        display: grid;
        place-items: center;
        font-family: "Pt Sans Narrow", sans-serif;
        
}

.form {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 500px rgba(0,0,0,2);
    border-radius: 20px;
    overflow: hidden;
    width: 80%;
    max-width: 300px;
    margin-right:auto;
    margin-left:50px;
    margin-top: 50px;
}

.form-item {
    display: flex;
    flex-direction: column;   
}

.form-input,
.form-button{
    font-family: inherit;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 10px;
    letter-spacing: 1.2px;
    border: 0;
    outline: 0;

}

.form-input {
    padding: 1.5em;
}


.form-input::placeholder{
    opacity: 0.35;
}



.form-input:focus::placeholder {
    color: var(--clr);
    opacity: .85;
}
.form-item:first-of-type {
    position: relative;
}

.form-item:first-of-type::after {
    content: '';
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    height: 1px;
    background: rgba(0, 0, 0, .1)
}

.form-button {
    background: var(--clr);
    color: white;
    padding: 1.25em 2.5em;
}

@media only screen and (min-width:550px) {
    .form{
    flex-direction: column;
    max-width: 650px;
    border: 8px solid white;
    border-radius: 1.5em;
    background-color: white;
    }

    .form-button{
        border-radius: 3em;
        margin-left: auto;
        
    }

    .form-item{
        justify-content:center;
        
    }
    

    .form-item:last-of-type{
    flex-grow: 1;
}
    .form-item:first-of-type::after {
        right: 0;
        top: 0;
        bottom: 0;
        width: 1px;
        height: initial;
        left: initial;
    }
    
}
/* FOR SIGN UP FORM */

/* SIGN UP BUTTON */
.form-button2{
    font-family: inherit;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 16px;
    letter-spacing: 10px;
    border: 0;
    outline: 0;
    background: var(--clr);
    color: white;
    padding: 1.25em 2.5em;
    border-radius: 5em;
    margin-left:auto;
    margin-top:200px;
 }
/*SIGN UP BUTTON  */

/*
   SOCIAL MEDIA BUTTONS
*/
.social-media-button{
    font-family: inherit;
    text-transform: uppercase;
    font-weight: 1200;
    font-size: 8px;
    letter-spacing: 6px;
    border: 0;
    outline: 0;
    background: var(--clr);
    color: white;
    padding: 1.25em 2.5em;
    border-radius: 5em;
    box-shadow: 0 0 3px rgba(0,0,0,2);
    
    
  }

.social-links{
margin-bottom:auto;
margin-left;auto;

   }


  